*
{
    background-color: lightcyan;
    
}
.div
{
    text-align : center;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 35px;
}
.header
{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 150;
    font-size: 18px;
    
}